#top-bar{
	background-color:#fff;
	padding:10px;
	margin: 20px auto -22px auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#top-bar .user-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}
#top-bar .user-menu li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	border-right: 1px solid #eee;
	padding: 5px 12px;
}
#top-bar .user-menu li:last-child{
	border-right:0;
}